<table class="table table-bordered table-hover font-14">

    <thead class="table-primary">
        <tr>
        <th scope="col" style="width: 5%" class="col-center-align">No.</th>
        <th scope="col" style="width: 44%">原文</th>
        <th scope="col" style="width: 44%">訳文</th>
        <th scope="col" style="width: 7%" class="col-center-align">アクション</th>
        </tr>
    </thead>

    <tbody class="table-body-bg">

        {% for item in object.entries.all %}

            <tr>

                <td class="col-center-align">{{ forloop.counter }}</td>

                <td>
                    <!-- Source text -->
                    {{ item.source }}

                    <!-- Link to copy source text to clipboard -->
                    &nbsp
                    <a href="#" class="clipboard-icon" id="copy-link" onclick="copyText('{{ item.source }}');">
                        {% include "_table_copy_icon.html" %}
                    </a>

                </td>

                <td>
                    <!-- Target text -->
                    {{ item.target }}

                    <!-- Link to copy target text to clipboard -->
                    &nbsp
                    <a href="#" class="clipboard-icon" id="copy-link" onclick="copyText('{{ item.target }}');">
                        {% include "_table_copy_icon.html" %}
                    </a>

                        <!-- Include notes if present -->
                        {% if item.notes %}
                            <br><br>
                            <div class="table-muted-text">
                                {{ item.notes|linebreaksbr|urlizetrunc:50 }}
                            </div>
                        {% endif %}
                </td>

                <td class="col-center-align">

                    {% include "_entry_action_icons.html" %}

                </td>

            </tr>

        {% endfor %}

    </tbody>

</table>
