<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="flex-grow-1 px-2" href="{% url 'home' %}">Honyaku Archive</a>

    <li class="nav-item dropdown flex-grow-1">

        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            メニュー
        </a>

        <!-- Navbar dropdown menu -->

        <ul class="dropdown-menu">

            <li><a class="dropdown-item" href="{% url 'glossary_item_create' %}?previous_url={{ request.get_full_path|urlencode }}">用語集エントリーを追加する</a></li>
            <li><a class="dropdown-item" href="{% url 'glossary_create' %}?previous_url={{ request.get_full_path|urlencode }}">用語集を作成する</a></li>
            <li><a class="dropdown-item" href="{% url 'glossary_upload' %}?previous_url={{ request.get_full_path|urlencode }}">用語集をアップロードする</a></li>
            <li><a class="dropdown-item" href="{% url 'translation_upload' %}?previous_url={{ request.get_full_path|urlencode }}">翻訳をアップロードする</a></li>

            <li><hr class="dropdown-divider"></li>

            <li>
                <div class="dropdown-item">"{{ user }}"としてログインしている</div>
                <a class="dropdown-item" href="{% url 'logout' %}">ログアウト</a>
            </li>

        </ul>

    </li>

    <div class="flex-grow-1 d-flex">

        <form action="{% url 'search' %}" method="get" class="d-flex search-form" >

            <!-- Search bar
                 The previous query is entered in search field if available.
                 Autofocus is set to the search bar if applicable.
            -->

            <input name="query"
                   type="search"
                   id="search-input-field"
                   placeholder="検索クエリーを入力してください"
                   class="form-control search-bar me-3"
                   {% if query %} value="{{ query }}" {% endif %}
                   {% if autofocus_searchbar %} autofocus {% endif %}
                   required
            />

            <!-- Select previous query text in the search input field if available. -->

            {% if query %}
                <script>
                    selectSearchInputText();
                </script>
            {% endif %}

            <!-- Resources dropdown select list -->

            <div class="input-group glossary-dropdown me-3">
                <select name="resource" id="inputGroupSelect" class="form-select">

                    <!-- Main options -->

                    <!-- The previously searched resource is preselected.
                         To do this, options are compared with target_resource variable.
                         target_resource is the target resource of the previous query.
                         If these match, the option is marked as selected.  -->

                    {% if target_resource == "すべてのリソース" %}
                        <option selected>すべてのリソース</option>
                    {% else %}
                        <option>すべてのリソース</option>
                    {% endif %}

                    {% if target_resource == "すべての用語集" %}
                        <option selected>すべての用語集</option>
                    {% else %}
                        <option>すべての用語集</option>
                    {% endif %}

                    {% if target_resource == "すべての翻訳" %}
                        <option selected>すべての翻訳</option>
                    {% else %}
                        <option>すべての翻訳</option>
                    {% endif %}

                    <!-- Individual glossaries as options -->

                    <!-- Similar to the above, if an individual glossary matches target_resource,
                         it is marked as selected. To do this, have to compare the string representation
                         of both variables. For this, stringformat:'s' is used. This formats the
                         variable according to the argument 's', which specifies conversion using str(). -->

                    <optgroup label="用語集">
                        {% for glossary in glossaries %}
                            {% if glossary|stringformat:'s' == target_resource|stringformat:'s' %}
                                <option value="{{ glossary }}" selected>{{ glossary }}</option>
                            {% else %}
                                <option value="{{ glossary }}">{{ glossary }}</option>
                            {% endif %}
                        {% endfor %}
                    </optgroup>

                    <!-- Individual translations as options -->

                    <optgroup label="翻訳">
                        {% for translation in translations %}
                            {% if translation|stringformat:'s' == target_resource|stringformat:'s' %}
                                <option value="{{ translation }}" selected>{{ translation }}</option>
                            {% else %}
                                <option value="{{ translation }}">{{ translation }}</option>
                            {% endif %}
                        {% endfor %}
                    </optgroup>

                </select>
            </div>

            <!-- Search button -->

            <button type="submit" class="btn btn-primary btn-sm search-button me-3 px-3" id="search-button" onclick="showSearchSpinner();">
                検索
            </button>

        </form>

    </div>

</nav>