<table class="table table-bordered table-hover font-14">

    <thead class="table-primary">
        <tr>
        <th scope="col" style="width: 5%" class="col-center-align">No.</th>
        <th scope="col" style="width: 44%">原文</th>
        <th scope="col" style="width: 44%">訳文</th>
        <th scope="col" style="width: 7%" class="col-center-align">アクション</th>
        </tr>
    </thead>

    <tbody class="table-body-bg">

        {% for item in object.items.all %}

            <tr>

                <td class="col-center-align">{{ forloop.counter }}</td>

                <td>
                    <!-- Source text -->
                    {% if item.source %}

                        {{ item.source }}

                        <!-- Copy to clipboard and search icon links -->
                        {% include "_table_cell_source_item_icons.html" %}

                    {% else %}

                        <span class="table-muted-text">（原文なし）</span>

                    {% endif %}

                </td>

                <td>
                    <!-- Target text -->
                    {% if item.target %}

                        {{ item.target }}

                        <!-- Copy to clipboard and search icon links -->
                        {% include "_table_cell_target_item_icons.html" %}

                        <!-- Include notes if present -->
                        {% if item.notes %}
                            <br><br>
                            <div class="table-muted-text">
                                {{ item.notes|linebreaksbr|urlizetrunc:50 }}
                            </div>
                        {% endif %}

                    {% else %}

                        <span class="table-muted-text">（訳文なし）</span>

                    {% endif %}
                </td>

                <td class="col-center-align">

                    {% include "_item_action_icons.html" %}

                </td>

            </tr>

        {% endfor %}

    </tbody>

</table>
