{% extends 'base.html' %}

{% block content %}

    <div class="row justify-content-center my-5">

        <div class="col-5">

            <div class="card">

                <div class="card-header">
                    <div class="text-center">
                        エントリーを削除する
                    </div>
                </div>

                <div class="card-body">

                    <dl class="row pt-2 mb-0">

                        <dt class="col-3">原文：</dt>
                        <dd class="col-9">
                            {% if object.source %}
                                <p>{{ object.source }}</p>
                            {% else %}
                                <p>（なし）</p>
                            {% endif %}
                        </dd>

                        <dt class="col-3">訳文：</dt>
                        <dd class="col-9">
                            {% if object.target %}
                                <p>{{ object.target }}</p>
                            {% else %}
                                <p>（なし）</p>
                            {% endif %}
                        </dd>

                        <dt class="col-3">用語集：</dt>
                        <dd class="col-9">
                            {% if object.glossary %}
                                <p>{{ object.glossary }}</p>
                            {% else %}
                                <p>（なし）</p>
                            {% endif %}
                        </dd>

                        <dt class="col-3">備考：</dt>
                        <dd class="col-9">
                            {% if object.notes %}
                                <p>{{ object.notes|linebreaksbr }}</p>
                            {% else %}
                                <p>（なし）</p>
                            {% endif %}
                        </dd>

                    </dl>

                    <hr class="mt-1">

                    <p class="text-center pt-2">上記のエントリーを削除してよろしいですか。</p>

                    <form method="POST" novalidate>
                        {% csrf_token %}
                        <div class="text-center py-2">
                            <button type="submit" name="cancel" class="btn btn-secondary btn-sm me-2">キャンセル</button>
                            <button class="btn btn-danger btn-sm" type="submit">削除</button>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

{% endblock %}