{% extends '_base.html' %}

{% load humanize %}

{% block content %}

    <div class="col mx-5 mt-4 mb-5 wrap-content">

        <!-- Glossary heading -->

        <h4 class="my-4">{{ object.title }}</h4>

            <p>
                <a href="{% url 'glossary_update' object.pk %}">用語集の詳細を編集する</a> |
                <a href="{% url 'glossary_delete' object.pk %}">用語集を削除する</a>
            </p>


        <!-- Glossary details table -->

        <h5 class="mt-5 mb-4">詳細</h5>

        <div class="row justify-content-start">
            <div class="col-8">
                <table class="table table-bordered font-14">
                    <tbody class="table-body-bg">

                        <tr>
                            <td style="width: 25%">エントリー数:</td>
                            <td>{{ num_of_entries|intcomma }}</td>
                        </tr>

                        <tr>
                            <td>作成日時:</td>
                            {% if object.created_on %}
                                <td>{{ object.created_on }}</td>
                            {% else %}
                                <td>不明</td>
                            {% endif %}
                        </tr>

                        <tr>
                            <td>作成者:</td>
                            {% if object.created_by %}
                                <td>{{ object.created_by|title }}</td>
                            {% else %}
                                <td>不明</td>
                            {% endif %}
                        </tr>

                        <tr>
                            <td>最終更新日時:</td>
                            {% if object.updated_on %}
                                <td>{{ object.updated_on }}</td>
                            {% else %}
                                <td>不明</td>
                            {% endif %}
                        </tr>

                        <tr>
                            <td>最終更新者:</td>
                            {% if object.updated_by %}
                                <td>{{ object.updated_by|title }}</td>
                            {% else %}
                                <td>不明</td>
                            {% endif %}
                        </tr>

                        <tr>
                            <td>備考:</td>
                            {% if object.notes %}
                                <td>{{ object.notes|linebreaksbr|urlizetrunc:50 }}</td>
                            {% else %}
                                <td>なし</td>
                            {% endif %}
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>


        <!-- Glossary content -->

        {% if num_of_entries > 0 %}

            {% if num_of_entries > 999 %}

                <!-- Don't display table straight away -->

                <br>
                <p>
                    <a href="{% url 'glossary_all_entries' object.pk %}">
                        全てのエントリーを表示する
                    </a>
                </p>

                <p>＊この用語集のサイズが大きい（エントリー数：{{ num_of_entries|intcomma }}）ため、すべてのエントリーを表示するのに時間がかかるかもしれません。</p>

            {% else %}

                <!-- Display table straight away -->

                <br><br>
                <h5>すべてのエントリー</h5>

                <p>
                    <a href="{% url 'glossary_add_entry' glossary=object.pk %}?previous_url={{ request.get_full_path|urlencode }}">
                        エントリーを追加する
                    </a>
                </p>
                <br>

                {% include "_glossary_content_table.html" %}

            {% endif %}  <!-- End table display -->

        {% else %}  <!-- If no entries -->

            <br>
            <p>
                <a href="{% url 'glossary_add_entry' glossary=object.pk %}?previous_url={{ request.get_full_path|urlencode }}">
                    エントリーを追加する
                </a>
            </p>

        {% endif %}

    </div>

{% endblock %}