{% extends 'base.html' %}

{% load humanize %}

{% block content %}

    <div class="col-8 m-5">

        <h6 class="mb-4">翻訳と用語集の検索可能なWebアプリケーション</h6>

        <p class="text-muted">
            <small>
                総計リソース数：{{ num_of_resources|intcomma }}（用語集数：{{ num_of_glossaries|intcomma }}、翻訳数：{{ num_of_translations|intcomma }}）
                <br>
                総計エントリー数：{{ num_of_all_entries|intcomma }}（用語集エントリー数：{{ num_of_gloss_entries|intcomma }}、翻訳エントリー数：{{ num_of_trans_segments|intcomma }}）
            </small>
        </p>
        <br>

        <table class="table table-sm wrap-content">

            <thead>
                <tr>
                    <!-- Table column headings -->

                    <!-- Resource title column -->
                    <th scope="col" style="width: 55%">
                        リソース名
                        <!-- Arrow links for sorting -->
                        <a href=""
                           class="ps-2 table-gray-icon"
                           hx-get="{% url 'home_table_sort' filter='title' direction='ascend' %}"
                           hx-target="#resource-list"
                           hx-swap="innerHTML" >
                            {% include "_home_table_arrow_up.html" %}
                        </a>
                        <a href=""
                           class="table-gray-icon"
                           hx-get="{% url 'home_table_sort' filter='title' direction='descend' %}"
                           hx-target="#resource-list"
                           hx-swap="innerHTML" >
                            {% include "_home_table_arrow_down.html" %}
                        </a>
                    </th>

                    <!-- Resource type column -->
                    <th scope="col" style="width: 25%">
                        種類
                        <!-- Arrow links for sorting -->
                        <a href=""
                           class="ps-2 table-gray-icon"
                           hx-get="{% url 'home_table_sort' filter='type' direction='ascend' %}"
                           hx-target="#resource-list"
                           hx-swap="innerHTML" >
                            {% include "_home_table_arrow_up.html" %}
                        </a>
                        <a href=""
                           class="table-gray-icon"
                           hx-get="{% url 'home_table_sort' filter='type' direction='descend' %}"
                           hx-target="#resource-list"
                           hx-swap="innerHTML" >
                            {% include "_home_table_arrow_down.html" %}
                        </a>
                    </th>

                    <!-- Resource created date column -->
                    <th scope="col" style="width: 30%">
                        作成日時
                        <!-- Arrow links for sorting -->
                        <a href=""
                           class="ps-2 table-gray-icon"
                           hx-get="{% url 'home_table_sort' filter='created_on' direction='ascend' %}"
                           hx-target="#resource-list"
                           hx-swap="innerHTML" >
                            {% include "_home_table_arrow_up.html" %}
                        </a>
                        <a href=""
                           class="table-gray-icon"
                           hx-get="{% url 'home_table_sort' filter='created_on' direction='descend' %}"
                           hx-target="#resource-list"
                           hx-swap="innerHTML" >
                            {% include "_home_table_arrow_down.html" %}
                        </a>
                    </th>
                </tr>
            </thead>

            <tbody class="font-15" id="resource-list">

                {% include "_home_table_list.html" %}

            </tbody>

        </table>

    </div>

{% endblock %}