{% extends 'base.html' %}

{% block content %}

    <div class="col-5 my-5">

        <div class="card">

            <div class="card-header">
                <div class="text-center">
                    {% if item.resource.resource_type == "TRANSLATION" %}
                        翻訳セグメントを削除する
                    {% else %}
                        用語集エントリーを削除する
                    {% endif %}
                </div>
            </div>

            <div class="card-body">

                <dl class="row pt-2 mb-0">

                    <dt class="col-3">原文：</dt>
                    <dd class="col-9">
                        {% if item.source %}
                            <p>{{ item.source }}</p>
                        {% else %}
                            <p>（なし）</p>
                        {% endif %}
                    </dd>

                    <dt class="col-3">訳文：</dt>
                    <dd class="col-9">
                        {% if item.target %}
                            <p>{{ item.target }}</p>
                        {% else %}
                            <p>（なし）</p>
                        {% endif %}
                    </dd>

                    <dt class="col-3">
                        {% if item.resource.resource_type == "TRANSLATION" %}
                            翻訳：
                        {% else %}
                            用語集：
                        {% endif %}
                    </dt>
                    <dd class="col-9">
                        {% if item.resource %}
                            <p>{{ object.resource }}</p>
                        {% else %}
                            <p>（なし）</p>
                        {% endif %}
                    </dd>

                    {% if item.resource.resource_type == "GLOSSARY" %}
                        <dt class="col-3">備考：</dt>
                        <dd class="col-9">
                            {% if item.notes %}
                                <p>{{ item.notes|linebreaksbr }}</p>
                            {% else %}
                                <p>（なし）</p>
                            {% endif %}
                        </dd>
                    {% endif %}

                </dl>

                <hr class="mt-1">

                <p class="text-center pt-2">
                    {% if item.resource.resource_type == "TRANSLATION" %}
                        上記の翻訳セグメントを削除してよろしいですか。
                    {% else %}
                        上記の用語集エントリーを削除してよろしいですか。
                    {% endif %}
                </p>

                <form method="POST" novalidate>
                    {% csrf_token %}
                    <div class="text-center py-2">
                        <button type="submit" name="cancel" class="btn btn-secondary btn-sm me-2">キャンセル</button>
                        <button class="btn btn-danger btn-sm" type="submit">削除</button>
                    </div>

                </form>

            </div>

        </div>

    </div>

{% endblock %}