{% extends 'base.html' %}

{% load humanize %}

{% block content %}

    <div class="col mx-5 mt-4 mb-5 wrap-content">

        <!-- Resource title -->

        <h4 class="my-4">{{ resource.title }}</h4>

        <!-- Update and delete links -->

        <div class="mt-5 mb-4">

            {% if resource.resource_type == "GLOSSARY" %}

                <h5 class="d-inline pe-2">用語集の詳細</h5>
                <small>
                    <a href="{% url 'glossary_update' resource.pk %}">詳細を編集する</a> |
                    <a href="{% url 'resource_delete' resource.pk %}">用語集を削除する</a>
                </small>

            {% else %}

                <h5 class="d-inline pe-2">翻訳の詳細</h5>
                <small>
                    <a href="{% url 'translation_update' resource.pk %}">詳細を編集する</a> |
                    <a href="{% url 'resource_delete' resource.pk %}">翻訳を削除する</a>
                </small>

            {% endif %}

        </div>

        <!-- Resource details table -->

        <div class="row justify-content-start">
            <div class="col-8">
                <table class="table table-bordered font-14">
                    <tbody class="table-body-bg">

                        <tr>
                            <td style="width: 25%">エントリー数:</td>
                            <td>{{ num_of_items|intcomma }}</td>
                        </tr>

                        {% if resource.resource_type == "TRANSLATION" %}

                            <tr>
                                <td>翻訳者:</td>
                                {% if resource.translator %}
                                    <td>{{ resource.translator }}</td>
                                {% else %}
                                    <td>（なし）</td>
                                {% endif %}
                            </tr>

                            <tr>
                                <td>顧客:</td>
                                {% if resource.client %}
                                    <td>{{ resource.client }}</td>
                                {% else %}
                                    <td>（不明）</td>
                                {% endif %}
                            </tr>

                            <tr>
                                <td>分野:</td>
                                {% if resource.field %}
                                    <td>{{ resource.field }}</td>
                                {% else %}
                                    <td>（不明）</td>
                                {% endif %}
                            </tr>

                        {% endif %}

                        <tr>
                            <td>作成日時:</td>
                            {% if resource.created_on %}
                                <td>{{ resource.created_on }}</td>
                            {% else %}
                                <td>（不明）</td>
                            {% endif %}
                        </tr>

                        <tr>
                            <td>作成者:</td>
                            {% if resource.created_by %}
                                <td>{{ resource.created_by|title }}</td>
                            {% else %}
                                <td>（不明）</td>
                            {% endif %}
                        </tr>

                        <tr>
                            <td>備考:</td>
                            {% if resource.notes %}
                                <td>{{ resource.notes|linebreaksbr|urlizetrunc:50 }}</td>
                            {% else %}
                                <td>（なし）</td>
                            {% endif %}
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <!-- Resource content table -->

        {% if num_of_items > 0 %}

            <!-- If resource has entries, display entries -->

            <div id="resource-content-table">

                <br>
                <div class="mb-4 ">
                    <h5 class="d-inline">
                        {% if resource.resource_type == "TRANSLATION" %}
                            翻訳の内容
                        {% else %}
                            用語集の内容
                        {% endif %}
                    </h5>
                    {% if resource.resource_type == "GLOSSARY" %}
                        <small class="ps-2">
                            <a href="{% url 'create_item' resource=object.pk %}?previous_url={{ request.get_full_path|urlencode }}">
                                エントリーを追加する
                            </a>
                        </small>
                    {% endif %}
                </div>

                {% include "_resource_content_table.html" %}

            </div>

        {% else %}

            {% if resource.resource_type == "GLOSSARY" %}
                <small class="ps-2">
                    <a href="{% url 'create_item' resource=object.pk %}?previous_url={{ request.get_full_path|urlencode }}">
                        エントリーを追加する
                    </a>
                </small>
            {% endif %}

        {% endif %}

    </div>

{% endblock %}