{% extends 'base.html' %}

{% load humanize %}

{% block content %}

    <div class="col mx-5 mt-4 mb-5 wrap-content">

        <!-- Resource heading -->

        <h4 class="my-4">{{ object.title }}</h4>

        <!-- Resource details table -->

        <div class="mt-5 mb-4">

            {% if object.resource_type == "GLOSSARY" %}

                <h5 class="d-inline pe-2">用語集の詳細</h5>
                <small>
                    <a href="{% url 'glossary_update' object.pk %}">詳細を編集する</a> |
                    <a href="{% url 'glossary_delete' object.pk %}">用語集を削除する</a>
                </small>

            {% else %}

                <h5 class="d-inline pe-2">翻訳の詳細</h5>
                <small>
                    <a href="{% url 'translation_update' object.pk %}">詳細を編集する</a> |
                    <a href="{% url 'translation_delete' object.pk %}">用語集を削除する</a>
                </small>

            {% endif %}

        </div>

        <div class="row justify-content-start">
            <div class="col-8">
                <table class="table table-bordered font-14">
                    <tbody class="table-body-bg">

                        <tr>
                            <td style="width: 25%">エントリー数:</td>
                            <td>{{ num_of_entries|intcomma }}</td>
                        </tr>

                        <tr>
                            <td>作成日時:</td>
                            {% if object.created_on %}
                                <td>{{ object.created_on }}</td>
                            {% else %}
                                <td>（不明）</td>
                            {% endif %}
                        </tr>

                        <tr>
                            <td>作成者:</td>
                            {% if object.created_by %}
                                <td>{{ object.created_by|title }}</td>
                            {% else %}
                                <td>（不明）</td>
                            {% endif %}
                        </tr>

                        <tr>
                            <td>備考:</td>
                            {% if object.notes %}
                                <td>{{ object.notes|linebreaksbr|urlizetrunc:50 }}</td>
                            {% else %}
                                <td>（なし）</td>
                            {% endif %}
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>


        <!-- Glossary content table -->

        {% if num_of_entries > 0 %}

            {% if num_of_entries > 999 %}

                <!-- Don't display table straight away -->

                <br>
                <p>＊この用語集のサイズが大きい（エントリー数：{{ num_of_entries|intcomma }}）ため、すべてのエントリーを表示するのに時間がかかるかもしれません。</p>
                <p>
                    <a href="{% url 'glossary_all_entries' object.pk %}">
                        全てのエントリーを表示する
                    </a>
                </p>

            {% else %}

                <!-- Display table straight away -->

                <br>
                <div class="mb-4 ">
                    <h5 class="d-inline">用語集の内容</h5>
                    &nbsp;
                    <small>
                        <a href="{% url 'glossary_add_entry' glossary=object.pk %}?previous_url={{ request.get_full_path|urlencode }}">
                            エントリーを追加する
                        </a>
                    </small>
                </div>

                {% include "_glossary_content_table.html" %}

            {% endif %}  <!-- End table display -->

        {% else %}  <!-- If no entries -->

            <br>
            <p>
                <a href="{% url 'glossary_add_entry' glossary=object.pk %}?previous_url={{ request.get_full_path|urlencode }}">
                    エントリーを追加する
                </a>
            </p>

        {% endif %}

    </div>

{% endblock %}