{% extends 'base.html' %}

{% load humanize %}

{% block content %}

    <div class="item-detail-heading">

        <h4 >{{ object.job_number }}</h4>

    </div>

    <div class="item-details">

        Number of segments: {{ num_of_segments }}

        <div class="item-table">

            <table class="table table-bordered">

                <thead class="table-info">
                    <tr>
                        <th scope="col" style="width: 2%">No.</th>
                        <th scope="col" style="width: 44%">Source Term</th>
                        <th scope="col" style="width: 54%">Target Term</th>
                    </tr>
                </thead>

                <tbody>

                    {% for item in object.segments.all %}

                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.source|capfirst }}</td>
                            <td>{{ item.target|capfirst }}</td>
                        </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

{% endblock %}